.contact-container {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #000000;
    padding: 3rem;
    border-radius: 30px;
    opacity: 85%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ffffff;
  }
  
  .contact-container p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 2rem;
  }
  
  .contact-form .form-group {
    margin-bottom: 1.5rem;
  }
  
  .contact-form label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 90%;
    padding: 0.8rem;
    border: 1px solid #ffffff;
    border-radius: 5px;
  }
  
  .contact-form button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f05454;
    color: #ffffff;
    padding: 0.8rem 0.8rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 1s, transform 0.7s;
  }
  .contact-form button:hover {
    background-color: #d22f2f;
  }
  